* { /* Standard font for entire document; light grey background. */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}

h1 { /* Give header orange background, black border, center object. */
    background-color: orangered;
    text-align: center;
    color: whitesmoke;
    border: 4px solid black;
    text-transform: uppercase;
    width: 80%;
    margin: auto;
}

#team-container { /* Container which contains cards - is centered. */
    border: 2px solid black;
    width: 80%;
    margin: 4px auto;
    padding: 2px; /* Lines up the border with the larger header border. */
}

h2 {
    background-color: orangered;
    color: whitesmoke;
    border: 2px solid black;
    text-transform: uppercase;
    margin: 2px;
}

.employee-card {
    border: 2px solid black;
    margin: 5px;
    width: 30%;
    display: inline-block;
}

h3 {
    background-color: orangered;
    text-align: center;
    color: whitesmoke;
    border: 2px solid black;
    width: 80%;
    margin: auto;
    padding: 2px; /* Lines up the border with the larger header border. */

}

@media screen and (max-width: 768px) {
    h1, #team-container, h3 {
        width: 90%;
    }

    .employee-card {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .employee-card{
        width: 95%;
    }
}